.Quiz {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	flex-grow: 1;
	width: 100%;
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	
	.QuizWrapper {
		width: 600px;
		margin: 0 10px;

		h1 {
			color: #fff;
		}
	}
}